header{
    height: calc(3vw + 50px);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

footer {
    width: 100%;
    height: 10vh;
}

main{
    padding: calc(3vw + 50px);
    min-height: 80vh;
}

.anime-img{ 
    height: 20rem; 
    object-fit:cover;
}